<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="style.css" />

    <title>{{title}}</title>
  </head>
  <body>
    <nav class="nav__containar">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Приложение курсов</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

          <li><a href="/">Главная</a></li>

          {{#if isAbout}}
            <li class="active"><a href="/about">О нас</a></li>
          {{else}}
            <li><a href="/about">О нас</a></li>
          {{/if}}
          <li><a href="/courses">Курсы</a></li>
          <li><a href="/add">Добавить курс</a></li>
        </ul>
      </div>
    </nav>

    <div class="container"><h1>{{page}}</h1>
      <a href="/">home page</a>
    </div>
  </body>
</html>